html, body {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  height: 100%;
}

canvas {
  display: block;
}

* {
  background-color: #21282c;
  color: #D3D3D3;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  width: 100%;
  height: 100px;

  background-color: #161a1d;
  display: flex;
  
}

.nav-bar * {
  background-color: inherit;
}


.calculatorButton > button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.calculatorButton * {
  background-color: inherit;
}

.flex-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 75%;
}

.properties {
  flex-basis: 600px;
  flex-shrink: 0;
  background-color: #161a1d;
  margin: 0px 50px 0px 0px;
}

.properties * {
  background-color: inherit;
}
.properties>*{
  margin-left: 10px;
}

.properties > button {
  padding: 25px;
  margin: 5px;
}

.simulation {
  width: 100%;
  height: 100%;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

input {
  /* display: inline-block; */
  float: right;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
  margin-right: 10px;
  transition: background-color 0.5s;
}

#simulation-holder {
  flex-grow: 1;
}

div.engine-templates {
  
  overflow: auto;
  white-space: nowrap;
  margin: 25px 25px 25px 0px;
}

button {
  background-color: #A4161A !important;
  display: inline-block;
  border: none;
  border-radius: 15px;
}

div.engine-templates > button {
  margin-left: 25px;
  margin-right: 25px;
  width: 350px;
  height: 200px;
}

div.engine-templates > button *{
  background-color: inherit;
}

button:hover {
  background-color: #7a171a !important;
}

#error-placeholder {
  color: red;
}
